- var currentUser = user
- var postsArr = posts
- var profilePicUrl = pic

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title KSGram
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='/stylesheets/style.css')
.main-content
  header
    nav.nav
      .nav__logo
        a(href='/')
          img.logo(src='/images/logo.svg' alt='logo' style='width: 35px;')
      .nav__user
        #modal.modal
          .modal__content
        .modal__overlay
        //
          <a
          class="nav-i notifications modal__open"
          href="/notifications"
          title="Notifications"
          ><div class="icon__notify"></div></a
          ><a class="nav-i discover" href="/discover" title="Discover people"
          ><div class="icon__discover"></div></a
          ><a class="nav-i" href="/likes" title="My Likes"
          ><div class="icon__heart"></div></a
          >
        if user
          //- a.nav-i.upload__image(href='/upload' title='Share an Image')
          //-   .icon__upload
          a.nav-i(href=currentUser title='My Profile')
            .icon__account
          a.nav-i.log(href='/account/logout' title='Log Out')
            .icon__logout
        else
  article
    .flash-messages
    section
      .content
        .header
          .header__img
            .header__img-cont
              if profilePicUrl
                img(src=profilePicUrl alt="'s' avatar")
              else
                img(src='/uploads/pro0.jpg' alt="'s' avatar")
          .header__data
            .header__data--name
              h2 #{profile} 
              form.follow(method='POST' action='/api/' + profile + '/follow')
                button.Following(type='submit') Following
            .header__data--statistics
              .posts
                if postsArr
                  .number #{postsArr.length}
                else
                  .number 3
                span posts
              a.followers.modal__open(href='/' + profile + '/followers')
                .number 729
                span followers
              a.following.modal__open(href='/' + profile + '/following')
                .number 68
                span following
            .header__data--profile
              span= bio
        .gallery
          if postsArr.length > 1
            each post in postsArr
              a.gallery__img(href='/p/2307e48c8b5242b41f8c')
                img(src=post.imagePath alt='')
                .hover__icons
                  .icon
                    .icon__heart
                    span.icon__count 14
                    .icon__comment
                    span.icon__count 12
          else
            a.gallery__img(href='/p/5eb31158b407bd0e377d')
              img(src='/uploads/gallery/5eb31158b407bd0e377d.jpeg' alt='')
              .hover__icons
                .icon
                  .icon__heart
                  span.icon__count 7
                  .icon__comment
                  span.icon__count 6
            a.gallery__img(href='/p/892ba56277cf564f4379')
              img(src='/uploads/gallery/892ba56277cf564f4379.jpeg' alt='')
              .hover__icons
                .icon
                  .icon__heart
                  span.icon__count 10
                  .icon__comment
                  span.icon__count 0
            a.gallery__img(href='/p/69aae1bb895aef040e26')
              img(src='/uploads/gallery/69aae1bb895aef040e26.jpeg' alt='')
              .hover__icons
                .icon
                  .icon__heart
                  span.icon__count 10
                  .icon__comment
                  span.icon__count 2
  footer
    .footer
      span
        | &#x276E;&#x276F; by 
        a(href='http://costco.com/') Kirkland Signature
      span.date 2019
//- script(src='/javascripts/bundle.js')
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
